.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        width: 150px;
    }

    &-menu {
        display: flex;
        list-style: none;
        gap: 20px;
        color: #49557E;
        font-size: 18px;
        cursor: pointer;
        text-transform: capitalize;
    }

    &-right {
        display: flex;
        align-items: center;
        gap: 40px;
        cursor: pointer;
    }

    & button {
        background: transparent;
        font-size: 16px;
        color: #49557E;
        border: 1px solid tomato;
        border-radius: 50px;
        padding: 10px 30px;
        cursor: pointer;
        transition: 0.3s;
        text-transform: uppercase;

        &:hover {
            background-color: #FFF4F2;
            font-weight: 600;
        }

    }

    & .active {
        padding-bottom: 2px;
        border-bottom: 2px solid #49557E;
        font-weight: 600;
    }

    &-search-icon{
        position: relative;
        cursor: pointer;

        & .dot {
            position: absolute;
            min-height: 10px;
            min-width: 10px;
            background-color: tomato;
            border-radius: 5px;
            top: -8px;
            right: -8px;
            cursor: pointer;
        }
    }

}

// Media Query Starts
@media (max-width:1050px) {
    .navbar {
        & .logo {
            width: 140px;
        }

        &-menu {
            gap: 20px;
            font-size: 17px;
        }

        &-right {
            gap: 30px;

            & img {
                width: 22px;
            }

            & button {
                padding: 8px 25px;
            }
        }
    }
}

@media (max-width:900px) {
    .navbar {
        & .logo {
            width: 120px;
        }

        &-menu {
            gap: 15px;
            font-size: 16px;
        }

        &-right {
            gap: 20px;

            & img {
                width: 20px;
            }

            & button {
                padding: 7px 20px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width:750px) {
    .navbar {
        
        &-menu {
            display: none;
        }
    }
}